<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PCD - Grupo 3 </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <div id="divLogo">
        <a href="/">
          <img src="{{url_for('static', filename='Logotipo_ISEG.png')}}" alt="">
        </a>
      </div>
      <div id="espaço">
        <a href="/home">
          <div id="voltar">
            <div id="voltarImag">
              <img src="{{url_for('static', filename='back.png')}}" alt="">
            </div>
            <div id="voltarTexto">
              <p>Voltar</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div id="content">
      <div id="contents3">
        <div class="myPerson">
          <div class="photoDiv">
              <img src="{{url_for('static', filename='1.png')}}" alt="">
          </div>
          <div class="nameDiv">
              <h2>Rodrigo Alcarva - 52330</h2>
          </div>
        </div>
        <div class="myPerson">
            <div class="photoDiv">
                <img src="{{url_for('static', filename='2.png')}}" alt="">
            </div>
            <div class="nameDiv">
                <h2>Ana Leonor - 52861</h2>
            </div>
        </div>
        <div class="myPerson">
            <div class="photoDiv">
                <img src="{{url_for('static', filename='3.png')}}" alt="">
            </div>
            <div class="nameDiv">
                <h2>José Queirós - 53197</h2>
            </div>
        </div>
        <div class="myPerson">
            <div class="photoDiv">
                <img src="{{url_for('static', filename='4.png')}}" alt="">
            </div>
            <div class="nameDiv">
                <h2>Tomás Aveiro - 46792</h2>
            </div>
        </div>
      </div>
    </div>
    <footer>&copy; Copyright 2019 || Grupo ? - Ana Leonor Escabelado | José Queirós | Rodrigo Alcarva | Tomás Aveiro</footer>
  </body>
</html>
